body {
    height: 900px;
    background: -webkit-linear-gradient(#4286f4, #acb4c1, lightgreen); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4286f4, #acb4c1, lightgreen); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4286f4, #acb4c1, lightgreen); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4286f4, #acb4c1, lightgreen); /* Standard syntax (must be last) */
}

.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width: 120px;
    height: 70px;
    transition-property: width;
    transition-duration: 1s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border:2px solid darkblue;
}

.button:hover {
    background: lightskyblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#divMain {
  display: none;
}

#divPort {
  display: none;
  width: 400px;
  border: 10px black;
  padding: 10px;
}

h1 {
    text-align: left;
    font-family: Oswald;
    font-weight: bold;
    font-size: 60px;
    -webkit-text-stroke: darkgray;
    stroke: darkgray;
}

h2 {
    font-family: Oswald;
    font-size: 30px;
    text-align: center;
}

h3 {
    font-family: Oswald ;
    font-size: 20px;
    text-align:left;
}