body {
 background-color: white;
 font-family: sofia;
}

.button {
    background-color: green;
    padding: 15px 32px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    font-family: "Arimo";
}

.button:hover {
    background-color: limegreen;
    color: white;
}

@font-face {
  font-family: "Oswald";
  src: url("fonts\Oswald\Oswald-Regular.ttf") format("TrueType");
}

