#sidebar
{
    float: left;
    width: 250px;
    height:100%;
    background: #313135;
}

#footer {
    height: 50px;
    background: #313135;
}

.button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 190px;
    transition-property: width;
    transition-duration: 1s;
}

.button:hover {
    background: #262628;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

h1 {
    text-align: left;
    font-family: Oswald;
    font-weight: bold;
    font-size: 60px;
    -webkit-text-stroke: darkgray;
    stroke: darkgray;
    color: white;
}

h2 {
    font-family: Oswald;
    font-size: 28px;
    text-align: center;
}

h3 {
    font-family: Oswald ;
    font-size: 20px;
    text-align:left;
}

h4 {
    font-family: Roboto;
    color: white;
}

@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css?family=Roboto);
}

.dropbtn {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 190px;
    transition-property: width;
    transition-duration: 1s;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color: white;
    display: none;
    position: absolute;
    background-color: #313135;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 0.5s;
}

.dropdown-content a {
    color: white;
    display: block;
    transition: 0.5s;
}

.dropdown-content a:hover {background-color: #313135}

.dropdown:hover .dropdown-content {
    display: block;
    transition-duration: 1s;
}

.dropdown:hover .dropbtn {
    background-color: #262628;
}